.Header{
    background: url(images/bg-header.jpg) no-repeat center top;
    background-attachment: fixed;
    background-size: cover;
    min-height: 1000px;
    border-bottom: 1px solid #f7cb4b;
}

.Intro{
    max-width: 700px;
    min-height: 700px;
    background: url(images/bg-logo.png) no-repeat center;
    padding: 20px;
    margin-top: 50px;
    display: inline-block;
}

a{
    font-variant: 700px;
    color: #f7cb4b;
    text-decoration: underline;
    text-transform: uppercase;
    display: inherit;
}

#Menu{
    font-size: 30px;
    margin-top: 20px;
    line-height: 30px;
}

#Menu ul {
	padding:0px;
	margin:0px;
	list-style:none;
}

#Menu ul li { display: inline; }

#Menu ul li a {
	padding: 2px 15px;
	display: inline-block;
	color: #f7cb4b;
	text-decoration: none;
}

#Menu ul li a:hover {
	background-color:#f7cb4b;
	color: #fff;
    border-bottom: 3px solid #EDEDED;
}