.Header{
    background-color: #363636;
    min-height: 100px;
}

.Logo{
    background: url(images/logo.png) no-repeat;
    width: 180px;
    min-height: 60px;
    margin-top: 20px;
    display:block;
    text-indent: -9999px;
}

a{
  font-size: 14px;
  color: #309e47;
  text-decoration: underline;
}

.Facebook, .Twitter, .Blog{
    display: inline-block;
    width: 40px;
    height: 39px;
    text-indent: -9999px;
    margin-top: 30px;
    padding-left: 10px;
}

.Social{
    width: 165px;
}

a.Facebook{
    background: url(images/social.png) 0px 0px no-repeat;
}

a:hover.Facebook{
    background: url(images/social.png) 0px -48px no-repeat;
}

a.Twitter{
    background: url(images/social.png) 0px -96px no-repeat;
}

a:hover.Twitter{
    background: url(images/social.png) 0px -144px no-repeat;
}

a.Blog{
    background: url(images/social.png) 0px -193px no-repeat;
}

a:hover.Blog{
    background: url(images/social.png) 0px -242px no-repeat;
}