body{
    background: #fff;
    font-family: 'Old Standard TT', serif;
    font-weight: 300;
}

.text-center{
	text-align: center;
}
.center{
	margin: 0 auto;
}

p, h1, h2, h3{
    color: #f7cb4b;
}

h2{
    margin-top: 280px;
    max-width: 550px;
    font-size: 30px;
    line-height: 40px;
    font-weight: 700;
    display: inline-block;
}

h3{
    margin-top: 100px;
    max-width: 550px;
    font-size: 80px;
    line-height: 40px;
    font-weight: 700;
    margin-bottom: 50px;
    display: inline-block;
}

h4{
    width: 400px;
    min-height: 60px;
    font-size: 20px;
    line-height: 60px;
    font-weight: 700;
    margin-bottom: 20px;
    display: inline-block;
    background-color: #f7cb4b;
}

.AgendaFoto{
    background: url(images/bg-agenda.jpg) no-repeat center top;
    background-attachment: fixed;
    background-size: cover;
}

.Agenda p{
    font-size: 18px;
}

p{
    font-size: 16px;
    font-weight: 400;
    width: 500px;
    display: inline-block;
    line-height: 20px;
}

.BtnFacebook{
    display: inline-block;
    min-height: 60px;
    line-height: 60px;    
    width: 340px;
    font-size: 16px;  
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 0;
    margin-top: 50px;
    background: url(images/ico-facebook.png) 0 10px  no-repeat;
}

a.BtnFacebook{
    color: #fff;
    text-decoration:none;
    padding-left: 20px;
    background: #3b5998 url(images/ico-facebook.png) 20px 10px  no-repeat;
}

a:hover.BtnFacebook{
    color: #fff;
    background: #3c62b1 url(images/ico-facebook.png) 20px 10px  no-repeat;
}

section{
    padding: 100px 0 100px 0;
    border-bottom: 5px solid #f7cb4b;
}

.Agenda{
    max-width: 700px;
    min-height: 700px;
    background: url(images/bg-section.png) no-repeat center;
    padding: 20px;
    margin-top: 50px;
    display: inline-block;
}

.Guitar{
    background: transparent url(images/guitar.png) no-repeat;
    width: 240px;
    height: 419px;
    margin-top: -400px;
    margin-left: 50px;
}

#Footer{
    background: #231f20;
    padding: 50px 0 50px 0;
    min-height: 400px;
}

#Footer h3{
    font-size: 50px;
    line-height: 60px;
    font-weight: 700;
    margin-top: 50px;
    margin-bottom: 50px;
    display: block;
}

#Footer p{
    text-align: left;
}